<head>
<head/>

<body>

<!--Header-->
<h1> Jacob's and Megan's Knot List </h1> 
<h2> A Loving Adventure Preparing For Forever </h2>



<!--Table-->
<table id="t01">
  <tr>
    <th align="right"><a href="https://www.facebook.com/">Wedding Site In Progress</a></th>
    <th align="center"><a href="https://www.google.com/?gws_rd=ssl">Knot List List</a></th> 
    <th align="left"><a href="http://www.bing.com/?pc=U159&ocid=U159DHP&dt=062313">About Jegan And Macob</a></th>
  </tr>
  </table>

<br/>
<br/>
  
  
  <!--Knot List Items - Rows of 5-->
<div align="center"> 
<%= image_tag 'circles/C1.jpg', :style => "width:19%;height:auto"%>
<%= image_tag 'circles/C2.jpg', :style => "width:19%;height:auto"%>
<%= image_tag 'circles/C3.jpg', :style => "width:19%;height:auto"%>
<%= image_tag 'circles/C4.jpg', :style => "width:19%;height:auto"%>
<%= image_tag 'circles/C5.jpg', :style => "width:19%;height:auto"%>

<%= image_tag 'circles/C6.jpg', :style => "width:19%;height:auto"%>
<%= image_tag 'circles/C7.jpg', :style => "width:19%;height:auto"%>
<%= image_tag 'circles/C8.jpg', :style => "width:19%;height:auto"%>
<%= image_tag 'circles/C9.jpg', :style => "width:19%;height:auto"%>
<%= image_tag 'circles/C10.jpg', :style => "width:19%;height:auto"%>

<%= image_tag 'circles/C11.jpg', :style => "width:19%;height:auto"%>
<%= image_tag 'circles/C12.jpg', :style => "width:19%;height:auto"%>
<%= image_tag 'circles/C13.jpg', :style => "width:19%;height:auto"%>
<%= image_tag 'circles/C14.jpg', :style => "width:19%;height:auto"%>
<%= image_tag 'circles/C15.jpg', :style => "width:19%;height:auto"%>

<%= image_tag 'circles/C16.jpg', :style => "width:19%;height:auto"%>
<%= image_tag 'circles/C17.jpg', :style => "width:19%;height:auto"%>
<%= image_tag 'circles/C18.jpg', :style => "width:19%;height:auto"%>
<%= image_tag 'circles/C19.jpg', :style => "width:19%;height:auto"%>
<%= image_tag 'circles/C20.jpg', :style => "width:19%;height:auto"%>

<%= image_tag 'circles/C21.jpg', :style => "width:19%;height:auto"%>
<%= image_tag 'circles/C22.jpg', :style => "width:19%;height:auto"%>
<%= image_tag 'circles/C23.jpg', :style => "width:19%;height:auto"%>
<%= image_tag 'circles/C24.jpg', :style => "width:19%;height:auto"%>
<%= image_tag 'circles/C25.jpg', :style => "width:19%;height:auto"%>

<!-- DUMB NON-RAILS CODE BELOW
<img src="circles/C1.jpg"  style="width:19%;height:auto">
<img src="circles/C2.jpg"  style="width:19%;height:auto">
<img src="circles/C3.jpg"  style="width:19%;height:auto">
<img src="circles/C4.jpg"  style="width:19%;height:auto">
<img src="circles/C5.jpg"  style="width:19%;height:auto">

<img src="circles/C6.jpg"  style="width:19%;height:auto">
<img src="circles/C7.jpg"  style="width:19%;height:auto">
<img src="circles/C8.jpg"  style="width:19%;height:auto">
<img src="circles/C9.jpg"  style="width:19%;height:auto">
<img src="circles/C10.jpg"  style="width:19%;height:auto">

<img src="circles/C11.jpg"  style="width:19%;height:auto">
<img src="circles/C12.jpg"  style="width:19%;height:auto">
<img src="circles/C13.jpg"  style="width:19%;height:auto">
<img src="circles/C14.jpg"  style="width:19%;height:auto">
<img src="circles/C15.jpg"  style="width:19%;height:auto">

<img src="circles/C16.jpg"  style="width:19%;height:auto">
<img src="circles/C17.jpg"  style="width:19%;height:auto">
<img src="circles/C18.jpg"  style="width:19%;height:auto">
<img src="circles/C19.jpg"  style="width:19%;height:auto">
<img src="circles/C20.jpg"  style="width:19%;height:auto">

<img src="circles/C21.jpg"  style="width:19%;height:auto">
<img src="circles/C22.jpg"  style="width:19%;height:auto">
<img src="circles/C23.jpg"  style="width:19%;height:auto">
<img src="circles/C24.jpg"  style="width:19%;height:auto">
<img src="circles/C25.jpg"  style="width:19%;height:auto">

<img src="circles/C26.jpg"  style="width:19%;height:auto">
<img src="circles/C27.jpg"  style="width:19%;height:auto">
<img src="circles/C28.jpg"  style="width:19%;height:auto">
<img src="circles/C29.jpg"  style="width:19%;height:auto">
<img src="circles/C30.jpg"  style="width:19%;height:auto">

<img src="circles/C31.jpg"  style="width:19%;height:auto">
<img src="circles/C32.jpg"  style="width:19%;height:auto">
<img src="circles/C33.jpg"  style="width:19%;height:auto">
<img src="circles/C34.jpg"  style="width:19%;height:auto">
<img src="circles/C35.jpg"  style="width:19%;height:auto">

<img src="circles/C36.jpg"  style="width:19%;height:auto">
<img src="circles/C37.jpg"  style="width:19%;height:auto">
<img src="circles/C38.jpg"  style="width:19%;height:auto">
<img src="circles/C39.jpg"  style="width:19%;height:auto">
<img src="circles/C40.jpg"  style="width:19%;height:auto">

<img src="circles/C41.jpg"  style="width:19%;height:auto">
<img src="circles/C42.jpg"  style="width:19%;height:auto">
<img src="circles/C43.jpg"  style="width:19%;height:auto">
<img src="circles/C44.jpg"  style="width:19%;height:auto">
<img src="circles/C45.jpg"  style="width:19%;height:auto">

<img src="circles/C46.jpg"  style="width:19%;height:auto">
<img src="circles/C47.jpg"  style="width:19%;height:auto">
<img src="circles/C48.jpg"  style="width:19%;height:auto">
<img src="circles/C49.jpg"  style="width:19%;height:auto">
<img src="circles/C50.jpg"  style="width:19%;height:auto">
-->
</div>
  
<br/>
<br/>
  
<!--Carousel-->
<!--
<div align="center">
<div class="knotty">
    <div><img class="bacon" src="images/image 1.jpg"</img></div>
	<div><img class="bacon" src="images/image 1.jpg"</img></div>
	<div><img class="bacon" src="images/image 1.jpg"</img></div>
	<div><img class="bacon" src="images/image 1.jpg"</img></div>
	<div><img class="bacon" src="images/image 1.jpg"</img></div>
  </div>
  </div>

<script type="text/javascript" src="jquery-2.1.3.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $('.knotty').slick({
  //setting-name: setting-value
  centerMode: true,
  arrows: false,
  dots: true,
  variableWidth: true
  
  });
});
</script>
-->
<!--Footer-->
<footer>
  <p>Created by: Megan Cravens</p>
  <p>Contact information: <a class=blacklink href="mailto:missymeg@live.com">
  missymeg@live.com</a>.</p>
</footer>

</body>