<!DOCTYPE html>
<html>
<head>
  <title>Knotlist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
<!-- Header -->
<div id="header">
	<%= image_tag "website_header.png", :class => "header-image" %>

	<table id="header-table">
  		<tr>
    		<th align="right"><a href="https://www.facebook.com/">Wedding Site In Progress</a></th>
    		<th align="center"><a href="https://www.google.com/?gws_rd=ssl">Knot List List</a></th> 
    		<th align="left"><a href="http://www.bing.com/?pc=U159&ocid=U159DHP&dt=062313">About Jegan And Macob</a></th>
  		</tr>
	</table>
</div>

<div id="body">

	<%= yield %>

</div>

<!--Footer-->
<div id="footer">
  <p>Created by: Jacob and Megan <br/> 
  Contact information: <a class=blacklink href="mailto:thenorriscravenswedding@outlook.com">
  thenorriscravenswedding@outlook.com</a></p>
</div>

</div>
</body>
</html>
