<!DOCTYPE html>
<html>
<head>
  <title>Knotlist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
<!-- Header -->
<div id="header">
	<%= link_to image_tag("website_header.png", :class => "header-image"), root_path %>

	<table id="header-table">
  		<tr>
    		<th align="right"><%= link_to "Secret Wedding Information", wedding_info_path %></th>
    		<th align="center"><%= link_to "The Knot List", root_path %></th>
    		<th align="left"><%= link_to "About Jacob And Megan", about_path %></th>
  		</tr>
	</table>
</div>

<div id="body">

	<%= yield %>

</div>

<!--Footer-->
<div id="footer">
  <p>Created by: Jacob and Megan <br/>
  Contact information: <a class=blacklink href="mailto:thenorriscravenswedding@outlook.com">
  thenorriscravenswedding@outlook.com</a></p>
</div>

</div>
</body>
</html>
